@font-face {
	font-family: "Open Sans";
	src: url(OpenSans.ttf);
}

@font-face {
	font-family: "SourceSansPro-Regular";
	src: url(SourceSansPro-Regular.otf);
}

html {
	font-size: 16px;
	min-height: 100vh;
}

body {
	margin: 0;
	padding: 0;
	font: 1em/1.4 "Open Sans", sans-serif;
}

ul,
li {
	display: inline-block;
}

h2 {
	margin: 0;
}

header {
	background: url(../img/header-bg.png) no-repeat;
	background-size: cover;
	height: 1020px;
	width: 100%;
}

.wrap {
	width: 100%;
	max-width: 2400px;
	margin: auto;
}

.header-wrap li {
	font-size: 14px;
	text-transform: uppercase;
	margin-left: 53px;
	line-height: 130px;
	position: relative;
}

.header-wrap li:before {
	content: "";
	position: absolute;
	background: #e74c3c;
	height: 1px;
	width: 100%;
	display: inline-block;
	top: 92px;
}

.header-wrap a:not(.active) {
	color: #fff;
}

.header-wrap ul {
	height: 100%;
	margin-left: 249px;
}

.header-wrap {
	width: 1200px;
	margin: auto;
}

.header-wrap nav {
	height: 132px;
} 

.logo {
	background: url(../img/logo.png) no-repeat;
	height: 52px;
	width: 141px;
	margin: 39px 0 0 22px;
	float: left;
}

.our-clients {
	font: 24px "SourceSansPro-Regular", sans-serif;
	margin-top: 187px;
	padding-left: 12px;
	letter-spacing: 1px;
	text-align: center;
	color: #fff;
}

h1 {
	font-size: 71px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 22px 0 27px;
	letter-spacing: 7px;
}

.divider {
	background: url(../img/divider.png);
	width: 195px;
	height: 7px;
	margin: auto;
	display: block;
}

.title-text {
	width: 600px;
	font-size: 14px;
	color: #ada7a2;
	margin: 42px auto 67px auto;
	line-height: 22px;
	text-align: center;
}

.relat {
	position: relative;
}

.arrow {
	background: url(../img/arrow.png);
	height: 45px;
	width: 45px;
	position: absolute;
	cursor: pointer;
}

.arrow-left {
	left: -603px;
	top: -102px;
}

.arrow-right {
	background-position: 45px 0;
	left: 1174px;
	top: -103px;
}

.big-btn {
	width: 225px;
	height: 55.67px;
	font-size: 14px;
	border-radius: 3px;
	box-shadow: 0 2px 4.75px .25px rgba(0, 0, 0, .25);
	color: #fff;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	transition: .5s linear;
}

.red {
	background: #e74c3c;
	border: 1px solid #e74c3c;
	margin-left: 17px;
}

.opac {
	background: transparent;
	border: 1px solid #fff;
	margin-left: 25px;
}

.red:hover {
	border: #0fadea;
	background: #0fadea;
	color: #fff;
}

.opac:hover {
	background: rgba(255, 255, 255, .6);
	color: #e74c3c;
}

.title-buttons {
	text-align: center;
	position: relative;
}

.anchor {
	background: url(../img/anchor-ico.png);
	height: 74px;
	width: 74px;
	position: absolute;
	top: 310px;
	left: 594px
}

.name {
	font-size: 18px;
	color: #6a6a6a;
	text-transform: uppercase;
	text-align: center;
}

.pluses-text {
	font-size: 12px;
	color: #b3b3b3;
	line-height: 22px;
}

.pluses {
	margin: 86px 0 93px;
	text-align: center;
}

.pluses li {
	width: 260px;
	margin: 0px 19px;
}

.pluses h3 {
	margin: 8px 0 6px 23px;
	display: inline-block;
	letter-spacing: 2px;
}

.sleek-design,
.cleen-design,
.creative-design,
.free-design {
	background: url(../img/pluses-iconset.png) no-repeat;
	height: 100px;
	width: 100px;
	display: block;
	margin: auto;
}

.sleek-design {
	background-position: -2px 0;
}

.cleen-design {
	background-position: -308px 0;
	margin-left: 83px;
}

.creative-design  {
	background-position: -608px 0;
}

.free-design  {
	background-position: -910px 0;
}

.min-divider {
	width: 38px;
	height: 1px;
	background: #888888;
	border: none;
}

.active {
	color: #e74c3c;
	font-weight: bold;
}

.headline {
	font-size: 34px;
	color: #6a6a6a;
	letter-spacing: 2px;
	text-transform: uppercase;
}


.our-history {
	height: 710px;
	background: #f4f5f9;
}

.our-history-wrap {
	width: 1200px;
	margin: auto;
}

.our-history hr {
	height: 1px;
	border: none;
	background: #888888;
	width: 100%;
	margin: 9px 0 0 0;
	display: inline-block;
}

.apple-img {
	background: url(../img/monitor.png) 24px center #f4f5f9 no-repeat;
	height: 685px;
	display: inline-block;
	width: 50%;
}

.our-history--right-block {
	height: 695px;
	display: inline-block;
	width: 50%;
	float: right;
	position: relative;
}

.our-history--right-block > h2 {
	margin: 132px 0 36px 41px;;
	display: inline-block;
}

.our-history--right-block > h2::before {
	content: "";
	display: inline-block;
	height: 36px;
	width: 6px;
	background: #e74c3c;
	position: absolute;
	left: 8px;
	top: 137px;
}

article {
	font-size: 13px;
	color: #999999;
	line-height: 24px;
}

.our-history--right-block > input {
	margin: 27px 0 0 8px;
}

.services {
	background: url(../img/our-services-bg.png) no-repeat;
	height: 763px;
	background-size: cover;
}

.services-wrap {
	width: 1200px;
	height: 100%;
	margin: auto;
}

.our-history--right-block p {
	margin: 0 0 38px;
}

.services-wrap > h2 {
	color: #fff;
	display: inline-block;
	letter-spacing: 4px;
	margin: 149px 0 0 309px;
	position: relative;
}

.services-wrap > h2::after {
	content: "";
	display: inline-block;
	height: 36px;
	width: 6px;
	background: #e74c3c;
	position: absolute;
	left: 292px;
	top: 6px;
}

.left-bg {
	width: 50%;
	float: left;
}

.right-bg {
	width: 50%;
	float: right;
}

.services-list li,
.services-list h3 {
	text-align: right;
}

.services-list h3 {
	color: #e74c3c;
}

.services-list article {
	position: relative;
}

.services-list article:after {
	content: "";
	background: url(../img/our-services-iconset.png) no-repeat;
	display: inline-block;
	height: 75px;
	width: 73px;
	left: 650px;
	top: -24px;
	position: absolute;
}

.services-list > ul >  li:nth-child(1) h3 {
	margin: 62px 0 11px;
}

.services-list > ul >  li:nth-child(2) h3 {
	margin: 43px 0 9px;
}

.services-list > ul >  li:nth-child(3) h3 {
	margin: 43px 0 8px;
}


.services-list > ul >  li:nth-child(2) article:after {
	background-position: 0 -143px;
}

.services-list > ul >  li:nth-child(3) article:after {
	background-position: 0 -285px;
}

.recent {
	height: 370px;
}

.recent-wrap {
	width: 1200px;
	margin: auto;
	padding-top: 125px;
}

.recent-wrap h2 {
	text-align: center;
	margin: 0 0 13px;
}

.recent-wrap article {
	text-align: center;
	margin-bottom: 24px;
}

.recent-wrap li {
	font-size: 14px;
	text-transform: uppercase;
	margin: 0 6px;
}

.recent-wrap a:not(.active),
.recent-wrap li
{
	color: #a9a9a9;
}

.recent-wrap nav {
	margin-top: 61px;
	text-align: center;
}

.tshirt {
	background: url(../img/tshirt-bg.png) -7px 0 no-repeat;
	background-size: cover;
	height: 960px;
}

.tshirt-wrap {
	width: 960px;
	height: 100%;
	margin: auto;
}

.img-one,
.img-two,
.img-three,
.img-four {
	height: 480px;
	width: 480px;
	display: inline-block;
}

.img-one {
	background: url(../img/img-1.png);
	float: left;
	position: relative;
}

.img-two {
	background: url(../img/img-2.png);
	float: right;
}

.img-three {
	background: url(../img/img-3.png);
	float: left;
}

.img-four {
	background: url(../img/img-4.png);
}

.img-hover {
	height: 100%;
	width: 100%;
	background: transparent;
	transition: .5s linear;
}

.hvr-one:hover {
	background: rgba(255, 0, 0, .6);
}

.img-hover:hover .tshirt-design {
	color: #fff;
}

.hvr-two:hover {
	background: rgba(32, 44, 197, .6);
}

.hvr-three:hover {
	background: rgba(32, 185, 144, .6);
}

.hvr-four:hover {
	background: rgba(42, 133, 195, .6);
}

.tshirt-design {
	color: transparent;
	position: absolute;
	top: 372px;
	left: 58px;
}

.tshirt-design h3 {
	margin: 0;
	font-size: 24px;
	text-transform: uppercase;
}

.tshirt-design p {
	font-size: 14px;
}

.tshirt-design:before {
	content: "_";
	display: inline-block;
	color: #fff;
	font-size: 89px;
	position: absolute;
	top: -132px;
	left: 1px;
}

.case-study {
	background: #f4f5f9;
	height: 1189px;
}

.case-study-wrap {
	width: 1200px;
	margin: auto;
	position: relative;
}

.case-study h2 {
	text-align: center;
	margin: 0 0 13px;
	padding-top: 135px;
}

.case-study article {
	text-align: center;
	margin-bottom: 24px;
}

.case-left-block h3 {
	margin-top: 256px;
}

.case-left-block article {
	width: 500px;
	margin: 15px auto;
}

.page-slide {
	position: absolute;
	display: block;
}

.case-left-block .min-divider {
	display: block;
	margin: 24px auto;
}

.case-left-block {
	background: url(../img/idea-bg.png) center 80px no-repeat;
	background-color: #fff;
	width: 665px;
	height: 630px;
	margin: 113px 0 0 23px;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .1);
	position: relative;
	display: inline-block;
	z-index: 1;
}

.case-left-block input {
	margin-top: 42px;
}

.midl-btn {
	width: 145px;
	height: 45px;
	font-size: 12px;
	border-radius: 3px;
	box-shadow: 0 2px 4.75px .25px rgba(0, 0, 0, .25);
	color: #fff;
	display: block;
	margin: auto;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	transition: .5s linear;
}

.case-right-block {
	background: url(../img/case-bg.png) no-repeat;
	width: 585px;
	height: 722px;
	display: inline-block;
	position: absolute;
	bottom: -46px;
	right: 7px;
}

.page-slide {
	background: url(../img/slider-ico.png) no-repeat;
	width: 52px;
	height: 12px;
	left: 307px;
	bottom: 51px;
	display: block;
}

.statistic {
	height: 511px;
	background: url(../img/statistic-bg.png) no-repeat;
	background-size: cover;
}

.statistic-wrap {
	width: 1200px;
	padding-top: 104px;
	height: 278px;
	margin: auto;
	color: #fff;
}

.statistic-wrap > div {
	width: 240px;
	display: inline-block;
	float: left;
}

.user-favour,
.posts,
.total,
.campaigns,
.amazing
{
	background-image: url(../img/statistic-iconset.png);
	background-repeat: no-repeat;
	margin: auto;
	width: 180px;
	height: 100%;
	position: relative;
}

.user-favour {
	background-position: 34px 50px;
}

.posts {
	background-position: -206px 50px;
}

.total {
	background-position: -446px 50px;
}

.campaigns {
	background-position: -686px 50px;
}

.amazing {
	background-position: -926px 50px;
}

.stat-wrap {
	position: absolute;
	width: 100%;
}

.stat-num,
.stat-name {
	text-align: center;
}

.stat-num {
	font-size: 30px;
	font-weight: bold;
}

.stat-name {
	font-size: 18px;
}

.user-favour > .stat-wrap {
	top: 201px;
	left: -30px;
}

.posts > .stat-wrap {
	top: 201px;
	left: -13px;
}

.total > .stat-wrap {
	top: 201px;
	left: 4px;
}

.campaigns > .stat-wrap {
	top: 201px;
	left: 23px;
}

.amazing > .stat-wrap {
	top: 201px;
	left: 40px;
}

.our-pricing {
	height: 1077px;
}

.our-pricing {
	width: 1200px;
	margin: auto;
}

.our-pricing-wrap {
	padding-top: 143px;
}

.pricing-container {
	width: 1171px;
	margin: 58px 0 0 24px;
}

.pricing-container > div {
	width: 380px;
	height: 609px;
	display: inline-block;
}

.starter {
	float: left;
	position: relative;
}

.premium {
	margin: 0 15px;
	position: relative;
}

.business {
	float: right;
	position: relative;
}

.price-head {
	height: 204px;
	background: #999999;
}

.price-body {
	height: 402px;
	background: #f4f5f9;
}

.premium > .price-head {
	background: #e74c3c;
}

.pricing-title {
	font-size: 24px;
	padding-top: 41px;
	letter-spacing: 2.3px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

.price-num {
	font-size: 39.5px;
	font-weight: bold;
	z-index: 3;
	position: absolute;
	left: 53px;
	top: 50px;
}

.per-month {
	z-index: 3;
	position: absolute;
	left: 56px;
	top: 83px;
	font-size: 13px;
	color: #999;
}

.starter .price-num,
.business .price-num {
	color: #999999;
}

.premium .price-num {
	color: #e74c3c;
}

.price {
	width: 174px;
	height: 172px;
	border-radius: 50%;
	line-height: 46px;
	text-align: center;
	position: absolute;
	left: calc(50% - 88px);
	top: 139px;
}

.premium .price {
	background: rgba(234, 118, 107, .25);
}

.starter .price,
.business .price {
	background: rgba(244, 245, 249, .25);
}


.price:before {
	content: "";
	position: absolute;
	background: #fff;
	border-radius: 50%;
	width: 154px;
	height: 153px;
	left: 10px;
	top: 10px;
}

.price-body article {
	text-align: center;
	line-height: 3.2;
	padding-top: 110px;
	font-weight: bold;
}

.price-body input {
	margin-top: 36px;
}

.our-pricing-wrap article {
	text-align: center;
}


.our-pricing-wrap .divider {
	margin-top: 25px;
}

.our-pricing-wrap .headline {
	margin: 0;
	text-align: center;
}

.our-team {
	background: url(../img/ourteam-bg.png) no-repeat;
	background-size: cover;
	width: 100%;
	height: 743px;
}

.our-team-wrap {
	width: 1200px;
	padding-top: 136px;
	margin: auto;
	position: relative;
}

.our-team-wrap h2 {
	text-align: center;
	color: #fff;
}

.our-team-wrap article {
	text-align: center;
	margin-top: 12px;
}

.our-team-wrap .divider {
	margin-top: 25px;
}

.crewman-one,
.crewman-two,
.crewman-three,
.crewman-four,
.crewman-five {
	background: url(../img/ourteam-iconset.png) no-repeat ;
	height: 120px;
	width: 212px;
	position: absolute;
	transition: .7s linear;
	cursor: pointer;
}

.crewman-one:hover,
.crewman-two:hover,
.crewman-three:hover,
.crewman-four:hover,
.crewman-five:hover {
	transform: scale(2);	
}

.crewman-one {
	background-position: 70px -70px;
	top: 440px;
	left: -46px;
}

.crewman-two {
	background-position: -221px 10px;
	top: 359px;
	left: 245px;
	height: 244px;
}

.crewman-three {
	background-position: -487px -16px;
	top: 386px;
	left: 511px;
}

.crewman-four {
	background-position: -765px -54px;
	top: 424px;
	left: 789px;
}

.crewman-five {
	background-position: -1035px 5px;
	top: 365px;
	left: 1059px;
}


.crewman-name {
	margin-top: 75px;
	text-align: center;
	color: #e74c3c;
}

.crewman-spot {
	text-align: center;
	color: #fff;
}

.great {
	background: #f4f5f9;
	height: 714px;
	border-bottom: 1px solid#d8d9db;
}

.logos {
	height: 230px;
	width: 1200px;
	margin: 53px auto 0;
}

.logos i {
	background-image: url(../img/logos-iconset.png);
	background-color: #fff;
	width: 210px;
	height: 100px;
	margin: 15px;
	float: left;
	display: inline-block;
	box-shadow: 0px 1px 3px 0px rgba(31, 31, 31, .09);
	transition: .5s linear;
	cursor: pointer;
}

.great-wrap {
	padding-top: 139px;
}  

.great-wrap h2 {
	text-align: center;
	letter-spacing: 1px;
}

.great-wrap article {
	margin-top: 12px;
	text-align: center;
}

.great-wrap .divider {
	margin-top: 24px;
}

.logo-a {
	background-position: 10px 10px;
}

.logo-b {
	background-position: -230px 12px;
}

.logo-c {
	background-position: -709px 13px;
}

.logo-d {
	background-position: -490px 12px;
}

.logo-e {
	background-position: -950px 12px;
}

.logo-f {
	background-position: -1142px 87px;
}

.logo-g {
	background-position: -1142px 87px;
}

.logo-h {
	background-position: -1623px 87px;
}

.logo-l {
	background-position: -1863px 87px;
}

.logo-j {
	background-position: -2102px 87px;
}

.logos i:hover {
	box-shadow: 3px 3px 20px #d8d9db;
	transform: scale(2);
}

.blog {
	height: 1250px;
	background: #f4f5f9;
}

.blog-wrap {
	width: 1200px;
	padding-top: 106px;
	margin: auto auto 70px;
	text-align: center;
}

.blog-wrap article {
	margin: 18px 0;
}

.blocks-wrap {
	width: 960px;
	height: 100%;
	margin: auto;
}

.blog-blocks {
	background: url(../img/blog-bg.png) -8px 0 no-repeat;
	background-size: cover;
	width: 100%;
	height: 960px;
}

.blocks-wrap > div {
	height: 480px;
	width: 480px;
	display: inline-block;
	float: left;
}

.blog-tshirt-design {
	background: #e74e3e;
}

.blog-tshirt-design,
.blog-tshirt-design a {
	color: #fff;
}

.blog-tshirt-design a {
	display: inline-block;
	margin-top: 13px;
	margin-left: 59px;
	font-style: italic;
}

.blog-tshirt-design a:after {
	content: url(../img/readmore-arrows.png);
	display: inline-block;
	height: 10px;
	width: 10px;
	margin-left: 10px;
}

.clocks {
	background: url(../img/blog-timex.png) no-repeat;
}

.road {
	background: url(../img/blog-road.png) no-repeat;
}

.block-title {
	position: relative;
	font-size: 24px;
	text-transform: uppercase;
}

.block-title:after {
	content: "_";
	display: inline-block;
	color: #fff;
	font-size: 89px;
	position: absolute;
	top: -44px;
	left: 60px;
}

.art {
	padding: 66px 0 0 56px;
}

.blog-tshirt-design > .block-title {
	margin: 0;
	padding: 16px 0 0 57px;
}

.block-text {
	padding-top: 61px;
	padding-left: 35px;
	line-height: 1.9;
	width: 385px;
}

.keep {
	height: 1038px;
	background: #f4f5f9;
}

.keep-wrap {
	width: 1200px;
	margin: auto;
}

.keep-wrap .headline,
.keep-wrap article {
	text-align: center;
}

.keep-wrap .headline {
	padding-top: 137px;
}

.keep-wrap article {
	padding-top: 16px;
}

.keep-wrap .divider {
	margin: 20px auto 68px;
}

address,
.form-wrap {
	height: 567px;
	background: #fff;
	border-radius: 4px;
	margin-left: 22px;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .1);
	display: inline-block;
}

address {
	width: 479px;
	font-style: normal;
}

.form-wrap {
	width: 665px;
	vertical-align: top;
}

.address-title {
	color: #e74e3e;
	text-transform: uppercase;
}

address p {
	color: #999;
}

form {
	width: 460px;
	margin: 82px auto;
}

form input {
	display: block;
	width: 100%;
	height: 50px;
	border: none;
	border-bottom: 1px solid #e5e5e5;
	outline-color: transparent;
}

form input[type="button"] {
	margin-left: 1px;
	margin-top: 51px;
	font-weight: bold;
	width: 157px;
	letter-spacing: 1.4px;
}

textarea {
	overflow: auto;
	border: none;
	outline-color: transparent;
	width: 100%;
	padding-top: 15px;
	border-bottom: 1px solid #e5e5e5;
}

.our-address {
	padding-top: 76px;
	padding-left: 92px;
	letter-spacing: 1.6px;
}

.call-us {
	padding-left: 90px;
	padding-top: 30px;
	letter-spacing: 1.6px;
}

.email-us {
	padding-top: 31px;
	padding-left: 92px;
	letter-spacing: 1.6px;
}

.lets-get {
	background: url(../img/lets-bg.png) no-repeat;
	background-size: cover;
	height: 480px;
}

.lets-get-wrap {
	width: 1200px;
	margin: auto;
}

.lets-get-wrap h2 {
	font-size: 36px;
	padding-top: 137px;
	text-align: center;
	color: #fff;
}

.lets-get-wrap section {
	padding-top: 6px;
	font-size: 18px;
	color: #fff;
	text-align: center;
}

.lets-get-wrap input {
	display: block;
	margin: 67px auto;
}

footer {
	height: 90px;
	background: #202020;
	font-size: 14px;
	color: #828282;
}

.footer-wrap {
	width: 1200px;
	height: 100%;
	margin: auto;
}

.social,
.rights {
	display: inline-block;
	height: 100%;
}

.social {
	line-height: 122px;
}

.rights {
	float: right;
	line-height: 90px;
}

.social a {
	background: url(../img/social-iconset.png) no-repeat;
	display: inline-block;
	height: 27px;
	width: 25px;
}

.social li:nth-of-type(2) a {
	background-position: -34px 0;
}

.social li:nth-of-type(3) a {
	background-position: -73px 0;
}

.social li:nth-of-type(4) a {
	background-position: -113px 0;
}

.social li:nth-of-type(5) a {
	background-position: -151px 0;
}

.social li:nth-of-type(6) a {
	background-position: -187px 0;
}

.social li:nth-of-type(7) a {
	background-position: -228px 0;
}

.social li:nth-of-type(8) a {
	background-position: -270px 0;
}


